<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.commons.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.team.facade.pojo.Admin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="adminId" jdbcType="INTEGER" property="adminid" />
    <result column="adminName" jdbcType="VARCHAR" property="adminname" />
    <result column="adminPassword" jdbcType="VARCHAR" property="adminpassword" />
  </resultMap>
</mapper>