<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="pojo.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="orderNum" jdbcType="VARCHAR" property="ordernum" />
    <result column="orderState" jdbcType="INTEGER" property="orderstate" />
    <result column="orderCreateTime" jdbcType="VARCHAR" property="ordercreatetime" />
    <result column="orderPayTime" jdbcType="VARCHAR" property="orderpaytime" />
    <result column="orderPayMode" jdbcType="INTEGER" property="orderpaymode" />
    <result column="paymentMoney" jdbcType="DOUBLE" property="paymentmoney" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="adressId" jdbcType="INTEGER" property="adressid" />
  </resultMap>
</mapper>