<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.commons.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.team.facade.pojo.Address">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="addressId" jdbcType="INTEGER" property="addressid" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="deliveryAddress" jdbcType="VARCHAR" property="deliveryaddress" />
    <result column="detailedAddress" jdbcType="VARCHAR" property="detailedaddress" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="landmark" jdbcType="VARCHAR" property="landmark" />
    <result column="bestDeliverTime" jdbcType="VARCHAR" property="bestdelivertime" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
  </resultMap>
</mapper>