<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.commons.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.team.facade.pojo.Brand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="brandId" jdbcType="INTEGER" property="brandid" />
    <result column="brandName" jdbcType="VARCHAR" property="brandname" />
    <result column="brandLog" jdbcType="VARCHAR" property="brandlog" />
  </resultMap>
</mapper>